{% extends "base.html" %}

{% block title %}Home - Sandy Clinic{% endblock %}

{% block content %}
<body>
    <header>
        <h1>Welcome, {{ user[3] }}</h1>
    </header>
     <div>
        <a href="{{ url_for('appointments') }}">View Booked Appointments</a>
     </div>
    <main>
        <ol>User Name--{{user[1]}}</ol>
        <ol>Email--{{user[2]}}</ol>
        <ol>Name--{{user[3]}}</ol>
        <ol>Phone--{{user[4]}}</ol>
        
    </main>
    <footer>
        {% endblock %}
    </footer>
</body>
</html>
